/* BackgroundVideo.module.css */

.card-video {
  position: relative;
  height: 400px; /* Set the height of the video container */
  background: url('/your-video.mp4') no-repeat center center fixed;
  background-size: cover;
}

.home-bg{
  background-image: url("/images/heading.jpg");
  background-size: cover;
}
